/*----------------------------------------------------------
テキストカラー
----------------------------------------------------------*/
$c-base-dark: #000000;
$c-base-light: #FFFFFF;
$c-main: #FEFFFA;
$c-primary: #52616A;
$c-secondary: #F8D5B8;
$c-accent: #7F8C94;
$c-emphasis: #FF0000;
$c-error:#ff8888;


/*----------------------------------------------------------
フォント
----------------------------------------------------------*/
$ff-main-jp: "Sawarabi Mincho";
$ff-main-en: "Lora";


/*----------------------------------------------------------
z-index
----------------------------------------------------------*/
$z-index-header: 20;
$z-index-drawer: 40;
$z-index-hamburger: 30;
$z-index-fv-logo: 1;
$z-index-works_slide-parts: 1;
$z-index-scroll-down: 1;
$z-index-about_img-shadow: -1;
$z-index-to-top: 10;
$z-index-about-img1: 2;
$z-index-about-img2: 1;
