@use "../global" as global;

/*----------------------------------------------------------
Header & Drawer_btn-x
----------------------------------------------------------*/
.c-btn-x__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: global.$c-main;
  font-family: global.$ff-main-en;
  font-size: 0.75rem;
  background-color: global.$c-base-dark;
  gap: 6px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 12px;
  letter-spacing: 1.44px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.c-btn-x__link svg {
  width: 15px;
  height: 15px;
}
.c-btn__icon-path--x {
  fill: global.$c-base-light;
}

/*----------------------------------------------------------
Swiper_btn
----------------------------------------------------------*/
.c-btn__icon-path--pagination {
  fill: global.$c-primary;
  transition: fill 0.3s;
}
.p-slide__arrow-prev,
.p-slide__arrow-next {
  border: 1px solid global.$c-main;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s,
    transform 0.1s;
  background-color: global.$c-main;
  opacity: 1;
}
.p-slide__arrow-prev:hover,
.p-slide__arrow-next:hover {
  background-color: global.$c-primary;
  border-color: global.$c-main;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  & .c-btn__icon-path--pagination {
    fill: global.$c-main;
  }
}
.p-slide__arrow-prev:active,
.p-slide__arrow-next:active {
  transform: translateY(2px);
  transition-duration: 0s;
  box-shadow: none;
}

/*----------------------------------------------------------
Contact_btn
----------------------------------------------------------*/
.c-button-contact,
.c-button-top {
  color: global.$c-base-dark;
  text-align: center;
  padding: calc(7px - 1px) calc(50px - 1px);
  border-radius: 50px;
  border: 1px solid #52616a;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, transform 0.1s;
  background-color: global.$c-base-light;
  opacity: 1;
  @include global.mq(sm) {
    font-size: 20px;
    padding: calc(20px - 1px) calc(120px - 1px);
  }
}
.c-button-contact:hover,
.c-button-top:hover {
  opacity: 0.8;
  background-color: global.$c-secondary;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.c-button-contact:active,
.c-button-top:active {
  opacity: 0.8;
  transform: translateY(2px);
  transition-duration: 0s;
  box-shadow: none;
}

.c-button-contact--confirm.js-disabled {
  pointer-events: none;
  color: global.$c-main;
  background-color: global.$c-accent;
  opacity: 0.4;
}
.c-button-contact--back {
  padding: calc(5px - 1px) calc(14px - 1px);
  font-size: 14px;
  border-radius: 5px;
  @include global.mq(sm) {
    padding: calc(6px - 1px) calc(18px - 1px);
    font-size: 16px;
  }
}

/*----------------------------------------------------------
To-top_btn
----------------------------------------------------------*/
.c-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: grid;
  place-items: center;
  z-index: global.$z-index-to-top;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s,
    outline 0.3s;
  outline: 1px solid global.$c-primary;
  background-color: global.$c-main;
  opacity: 1;
  @include global.mq(sm) {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
}
.c-to-top:hover {
  background-color: global.$c-primary;
  outline: 1px solid global.$c-main;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  & .c-btn__icon-path--top {
    fill: global.$c-main;
  }
}
.c-to-top:active {
  transform: translateY(2px);
  transition-duration: 0s;
  box-shadow: none;
}
.c-to-top svg {
  width: 18px;
  height: 18px;
  @include global.mq(sm) {
    width: 24px;
    height: 24px;
  }
}
.c-btn__icon-path--top {
  fill: global.$c-secondary;
  transition: fill 0.3s;
}
